{% extends 'photography/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

{% load static %}

<div class="mt-6 px-6 py-10 bg-gray-300 rounded-xl">
    <h3 class="mt-1 mb-4 text-2xl font">My name is Aleakhue,</h3>
    <p class="text-lg">
        the visionary photographer with a passion for capturing life's authentic moments within the vibrant tapestry of lifestyle hoods. Beyond the lens, Aleakhue's heart beats to the rhythm of a basketball court, where the art of the game meets the art of visual storytelling. Known for a meticulous eye for detail, Aleakhue weaves a narrative through photography that resonates with precision and emotion. With a love for music as his backdrop and a penchant for video games and coding, Aleakhue's creativity knows no bounds. Immerse yourself in a world where every click is a unique fusion of passion, precision, and a multi-faceted love for life's diverse experiences.
    </p>
</div>
{% endblock %}
